
.value {
    width: 250px;
    height: 350px;
    text-align: center;
    border: 5px solid #ffd21c;
    background-color: #ffd21c;
    color: white;
    position:relative;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: Impact;
}

.origin {
    background-color:white;
    text-align: center;
    position: relative;
    height: 245px;
    weight: 70px;
    padding: 15px;
    color: #979797;
    font-size: 12px;
    font-weight: bold;

}
.buttom {
    width: 135px;
    height: 15px;
    background-color: #ffd21c;
    margin: 90px auto;
    padding: 5px 0;
    position: relative;
    top: 3px;
    border-radius: 10px;
    border-bottom: 2px solid #ffaf18;
    color: white;
}
ul {
    display: block;
    font-family: fantasy;
    margin: 50px;
    padding: 0;
    height: 40px;
    width: 200px;
    position: relative;
    top: -3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    color: #888c94;
}
li {
    list-style-type: none;
    background-color: white;
    text-align: left;
    padding-left: 45px;
}
li:nth-child(odd) {
    background-color: #aefffc;
}
li:nth-child(even) {
    background-color: #e3fcff;
}

sup {
    vertical-align: 1.5em;
    font-size: 10px;
}
sub {
    vertical-align: -1em;
    font-size: 10px;
}
.price {
    position: relative;
    top: -7px;
    text-align: center;
    color: #3c3c3c;
    font-size: 24px;
    margin: -3px auto 9px auto;
}
li:before {
    content: '\2714';
    color: #71f32c;
    position: absolute;
    left: 25px;
}