.page{
    display: inline-block;
    color: #B507F5;
    font-family: serif;
    padding: 3px 8px;
}

.number{
    border: 1px solid #D2CCD5;
    border-radius: 25%;
}
.number:hover {
    color: #E8F6F7;
    background-color: #B22CC7;
}