input, span {
    display: none;
}
label[for="red"] {

    color: red;
    text-decoration: underline;
    opacity: 1;
}
label[for="green"] {

    color: green;
    text-decoration: underline;
    opacity: 1.5;
}
label[for="blue"] {

    color: blue;
    text-decoration: underline;
    opacity: 2;
}
input[id="red"]:checked~label[for="red"] {
    opacity: 0.5;
}
input[id="green"]:checked~label[for="green"] {
    opacity: 0.5;
}
input[id="blue"]:checked~label[for="blue"] {
    opacity: 0.5;
}
input[id="red"]:checked~.red{
    background: red;
    color: #fff;
    display: inline;
    border-radius: 10px;
    padding: 5px 5px;
}
input[id="green"]:checked~.green{
    background: green;
    color: #fff;
    display: inline;
    border-radius: 10px;
    padding: 5px 5px;
}
input[id="blue"]:checked~.blue{
    background: blue;
    color: #fff;
    display: inline;
    border-radius: 10px;
    padding: 5px 5px;
}