table,td {
    border-collapse: collapse;
}

td {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}
tr:nth-child(even) {
    background-color: #ddebf7;
}
td:nth-child(2n+3) {
    background-color: #f2f2de;
}